# Ignore node dependencies
node_modules/

# Ignore sensitive keys and environment configs
*.pem
*.key
*.pub
.env

# Ignore Windows metadata files
*.Zone.Identifier

# Optional: ignore Mac or VS Code files if applicable
.DS_Store
.vscode/
